extends layout

block content
	h1 SENG403 - Iteration #1 - Peer Evaluation
	div
		p You must fill the following form with a letter grade assessment of each (including yourself) of your group members' contributions to the current assignment (Iteration 0) together with a 1/3 page-length description of that person's contribution justifying your assessment. <strong><u>It is not acceptable to give everyone in your group an A or to give everyone in your group an F. A report that does not reflect the dynamics of the group will be considered a failure, which could cause you to fail the course.</u></strong> It is your responsibility to get to know your group members and know their contributions to the project.
		//h2 You are logged as {Mary Ann}
	
	div.newEvaluation
		div
			h2 You
			- each value, key in evaluator
				p <strong>#{key}:</strong> #{value}
				//- each v, k in value
					//p <strong>#{k}:</strong> #{v}


		form(method="post")
			div
				//- CHANGE THE WAY ITERATION AND EVALUATOR ARE BEING SET
				input(type="hidden", value="1", name="evaluations[iteration]", id="iteration")
				input(type="hidden", value="#{evaluator._id}", name="evaluator", id="evaluator")
				h2 Evaluation
				- each student, key in students
					h3 #{student.name}
					div
						span.label Grade :
						- var options = {"A+": "A+", "A": "A", "A-": "A-", "B+": "B+", "B": "B", "B-": "B-", "C+":"C+", "C":"C", "C-":"C-", "D+":"D+", "D":"D", "F":"F"}
						select(name="evaluations[#{student._id}][grade]", id="grade")
							each option, key in options
								option(value=key) #{option}
					div
						span.label Comments :
						//textarea(type="text", name="evaluations[#{student._id}][comments]", id="comments" text="#{student.name}")
						<textarea name="evaluations[#{student._id}][comments]" id="comments" cols="30" rows="5" class="form_text text-input shadow" title="Comment" onblur="if (this.innerHTML == '') {this.innerHTML = 'Comment';}" onfocus="if (this.innerHTML == 'Comment') {this.innerHTML = '';}">Comment</textarea>
						
				div#editEvaluationSubmit
					input(type="submit", value="Submit")

	p <center>If you're having problems to submit your peer evaluation or have any suggestions/questions, please send an email to fm.rodrigues@ucalgary.ca</center>